# TREC

In [3]:
import pandas as pd
import numpy as np

df=pd.read_csv("/mnt/lustre/yuxin/SC4002_G06/datasets/TREC/train.csv")
df["text"] = df["text"].str.lower()
print(len(df))
print(df.shape)
df.head()

5452
(5452, 3)

   label-coarse  label-fine                                               text
0             0           0  how did serfdom develop in and then leave russ...
1             1           1   what films featured the character popeye doyle ?
2             0           0  how can i find a list of celebrities ' real na...
3             1           2  what fowl grabs the spotlight after the chines...
4             2           3                    what is the full form of .com ?